:root {
    --color-bg: #0a0f1a;
    --color-text: #66FCF1;
    --color-secondary: #45A29E;
    --color-side: #C5C6C7;
    --color-additional: #1F2833;
    --color-border: rgba(91, 197, 192, 0.2);
    --color-terminal: rgb(1, 143, 1);
    --header-height: 140px;
    --footer-height: 50px;
    --border: 1px;
}

@font-face {
    font-family: 'Consolas';
    src: local('Consolas'), url('./fonts/Consolas.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

::selection {
    background-color: var(--color-secondary);
    color: white;
}

* {
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    font-family: 'Consolas';
    background-color: var(--color-bg);
    scroll-behavior: smooth;
}

a {
    text-decoration: underline;
    color: inherit;
}

header {
    height: var(--header-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 14px;
    text-align: center;

    background: var(--color-bg);
    color: var(--color-side);
    border-bottom: var(--border) solid var(--color-border);
}

.header-block-1 h1 {
    font-weight: 300;
    font-size: 2.5rem;
    letter-spacing: 4px;
    color: var(--color-text);
    margin: 0;
}

.header-link {
    padding: 6px;
    color: var(--color-text);
    border-radius: 4px 4px 4px 4px;
    transition: 0.3s;
    font-size: 1rem;
    text-decoration: none;

    &:hover {
        background-color: var(--color-additional);
    }

    &:active {
        color: var(--color-side);
    }
}

footer {
    height: var(--footer-height);
    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--color-bg);
    color: var(--color-side);
    border-top: var(--border) solid var(--color-border);

    letter-spacing: 1px;

    font-size: 1rem;
}

main {
    min-height: calc(100vh - var(--footer-height) - var(--header-height) - 2 * var(--border));
    max-height: calc(100vh - var(--footer-height) - var(--header-height) - 2 * var(--border));

    background-color: transparent;
    color: var(--color-text);

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    text-align: center;
}

.main-section {
    border-left: 1px solid var(--color-border);
    border-right: 1px solid var(--color-border);

    display: flex;
    flex-direction: column;
    min-height: 0;
    height: 100%;
}

.main-section h2 {
    font-weight: 300;
    font-size: 1.4rem;
    color: var(--color-side);
    letter-spacing: 2px;

}

.terminal-container {
    background-color: black;
    outline: 1px solid var(--color-border);
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;

    min-height: 0;
    scrollbar-color: var(--color-text) var(--color-bg);
}

.terminal-title-block {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    background-color: #1a132c;
    color: var(--color-side);

    padding-left: 14px;
    padding-right: 25px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;

    * {
        margin-top: 6px;
        margin-bottom: 6px;
    }
}

.terminal-window-icons {
    display: flex;
    gap: 40px;
}

.terminal-window-icon {
    margin: 0;
    cursor: default;
    padding: 0 5px;
    transition: all 0.2s;
}

.terminal-window-icon:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2px;
}

.terminal-window-icon-close:hover {
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 2px;
}

.terminal-content-block {
    padding: 12px;
    overflow-y: auto;
    font-size: 1rem;
}

.terminal-string {
    display: flex;
    justify-content: flex-start;
    color: var(--color-terminal);
    line-height: 0;
}

.terminal-section {
    color: var(--color-terminal);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-shrink: 1;
    flex-grow: 1;
    flex-wrap: wrap;

    * {
        margin: 0;
        margin-top: 8px;
    }

}

.terminal-section-link {
    color: var(--color-text);
    text-decoration: none;
    transition: 0.2s;
    font-weight: bold;

    &:hover {
        color: white;
        text-shadow: 0 0 8px var(--color-text);
    }

    &:hover::before,
    &:hover::after {
        opacity: 1;
    }

    &::before {
        content: '[';
        opacity: 0;
        transition: opacity 0.2s;
    }

    &::after {
        content: ']';
        opacity: 0;
        transition: opacity 0.2s;
    }
}