@media (min-width: 993px) {
    .js-enabled {

        .header-block-1,
        .header-block-2 {
            display: flex;
        }

        .burger-header-block {
            display: none;
        }

        #burger-menu-block {
            visibility: hidden;
            opacity: 0;
        }

        #display-overlay {
            visibility: hidden;
            opacity: 0;
        }

        main {
            transform: scale(1);
        }
    }
}

@media (max-width: 992px) {
    :root {
        --main-margin-top: 110px;
        --footer-height: 90px;
    }

    main {
        grid-template-columns: 0fr 1fr;
    }

    .main-content-block {
        gap: 2.4vh
    }

    footer {
        font-size: 1.3rem;
        flex-direction: column;
    }

    .js-enabled {

        .header-block-1,
        .header-block-2 {
            display: none;
        }

        .burger-header-block {
            display: flex;
        }
    }
}

@media (max-width: 768px) {
    :root {
        --main-margin-top: 100px;
        --footer-height: 70px;
    }

    header {
        font-size: 1.2rem;
    }

    .burger-menu-left-sidebar {
        font-size: 1.4rem;
    }

    .header-block-1 {
        margin-left: 9vw;
    }

    footer {
        font-size: 1.05rem;
        gap: 2px;
    }
}

@media (max-width: 576px) {
    :root {
        --main-margin-top: 90px;
        --footer-height: 55px;
    }

    header {
        font-size: 1.05rem;
    }

    .header-block-1 {
        gap: 2vw;
    }

    footer {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    :root {
        --main-margin-top: 60px;
        --header-height: 60px;
    }

    header {
        font-size: 0.9rem;
    }

    .header-block-1 {
        gap: 1.9vw;
    }

    footer {
        font-size: 0.8rem;
    }
}

@media (max-width: 375px) {
    header {
        font-size: 0.8rem;
    }

    footer {
        font-size: 0.75rem;
    }
}

@media (max-width: 320px) {
    header {
        font-size: 0.7rem;
    }

    .burger-menu-left-sidebar {
        font-size: 1.2rem;
    }

    footer {
        font-size: 0.7rem;
    }
}