@media (min-width: 768px) {
    .js-enabled {
        .header-link, .header-button-block {
            display: inline;
        }

        #burger-button {
            display: none;
        }
    }
}

@media (min-width: 1440px) {
    html.fixed {
        overflow-y: hidden;
        padding-right: calc(100vw - 99%);
    }
}