@media (min-width: 1024px) {
    .content-section {
        display: grid;
        grid-template-columns: minmax(80px, 200px) minmax(100px, 300px) 4fr;
        grid-template-rows: 1fr;
        text-align: unset;
    }

    .content-subtitle {
        display: flex;
        justify-content: center;
    }

    .content-title {
        display: flex;
        justify-content: center;
        margin-top: 20%;
        font-size: 1.5rem;
    }
}