@media (max-width: 992px) {
    .download-block {
        flex-direction: column;
        align-items: stretch;

        .button {
            order: 2;
        }

        p {
            order: 1;
        }
    }
}