.js-enabled {
    #book-modal {
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;

        z-index: 1001;

        transform: scale(0);
    }
}

#book-modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.3s;
    will-change: visibility, opacity, transform;

    margin-top: 2vh;
}

#book-modal.active {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.book-modal-section {
    color: var(--color-bg);
    background-color: var(--color-additional);

    padding: 30px;
    padding-top: 15px;
    padding-bottom: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    gap: 2vh;
}

.book-modal-header {
    display: flex;
    justify-content: flex-end;
    color: var(--color-accent);
}

.book-modal-header button {
    color: var(--color-accent);
}

.book-modal-section h3 {
    color: var(--color-accent);
}

#book-modal-form {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    align-items: stretch;
}

.form-group {
    display: flex;
    justify-content: stretch;
}

.form-group label {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

.form-group input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border-radius: 0px;
    outline: 1px solid var(--color-bg);
    border: none;
    background-color: var(--color-additional);
    color: var(--color-bg);
    padding: 7px;
    font-size: 0.9rem;
    box-sizing: border-box;

    transition: 0.3s;

    width: 100%;
    flex-grow: 1;

    text-align: center;
}

.form-group input.invalid {
    outline: 1px solid var(--color-invalid);
}

.form-group input[type="date"]::-webkit-datetime-edit,
.form-group input[type="time"]::-webkit-datetime-edit {
    font-family: "Circe", sans-serif;
    color: var(--color-bg);
}