.food-section {
    padding-right: clamp(6vw, calc(10vw + 1%), calc(10vw + 10%));
    padding-left: clamp(6vw, calc(10vw + 1%), calc(10vw + 10%));

    display: flex;
    flex-direction: column;
    gap: 5vh;

    text-align: center;

    padding-top: clamp(80px, 10vh, 100px);
}

.food-cards-block {
    display: flex;
    flex-wrap: wrap;
    gap: 5vh;

    justify-content: stretch;
}

.food-card {
    background-color: transparent;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;

    outline: 2px solid rgba(0, 0, 0, 0.2);

    gap: 2vh;
    padding-bottom: 2vh;

    cursor: pointer;

    max-width: clamp(250px, 20%, 540px);
    max-height: clamp(240px, 25%, 500px);
}

figure {
    display: flex;
    flex-direction: column;
}

img {
    display: block;
}

figcaption {
    margin-top: 1vh;
    font-size: 1.1rem;
}

.food-price {
    font-size: 1.2rem;
    font-weight: 600;
}