
.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;

    margin-top: 6vh;
    padding: 25px;

    background: var(--color-additional);
}

.footer-attribution {
    color: var(--color-bg);
    display: flex;
    justify-content: center;
    gap: 1vw;
    flex-wrap: wrap;
}
