::selection {
    background-color: var(--color-accent);
    color: white;
}

* {
    -webkit-tap-highlight-color: transparent;
}

:root {
    --color-bg: rgb(8, 9, 11);
    --color-accent: rgb(16, 137, 62);
    --color-secondary: rgb(55, 55, 55);
    --color-text: white;
    --color-text-secondary: rgb(163, 163, 163);
    --header-height: 100px;
    --footer-height: 110px;
    --main-margin-top: 100px;
    --footer-border: 1px;
}

html {
    scrollbar-color: var(--color-text) var(--color-bg);
    font-size: 100%;
}

body {
    background-color: var(--color-bg);
    margin: 0;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--color-bg);
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;

    font-weight: 600;
    font-size: 1.5rem;
}

.header-block-1 {
    color: var(--color-text-secondary);
    margin-left: 12vw;

    display: flex;
    gap: 4vw;
}

.header-block-2 {
    color: var(--color-text);
    margin-right: 6vw;
    display: flex;
}

a {
    text-decoration: none;
    user-select: none;
    color: inherit;
}

.header-link, .footer-link {
    transition: 0.3s;
    will-change: transform, shadowbox;

    &:hover {
        color: var(--color-text);
    }

    &:active {
        transform: scale(0.96) translateY(0);
        transition-duration: 0.07s;
    }
}

main {
    background-color: var(--color-bg);
    margin-top: var(--main-margin-top);
    display: grid;
    grid-template-columns: 10vw 1fr;
    min-height: calc(100vh - var(--footer-height) - var(--header-height) - var(--main-margin-top) - var(--footer-border));
}

footer {
    color: var(--color-text);
    height: var(--footer-height);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: var(--footer-border) solid var(--color-secondary);
    flex-shrink: 0;
    gap: 8px;

    font-size: 1.4rem;
}

.footer-link {
    user-select: all;
}

.right-separator {
    background-color: var(--color-bg);
    color: var(--color-text);
    border-right: 1px solid var(--color-secondary);
}

.main-content-block {
    background-color: var(--color-bg);
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    gap: 14vh
}

.content {
    margin-left: 6vw;
    margin-right: 10vw;

    h1 {
        font-weight: 400;
        font-size: 2.7rem;
    }

    h2 {
        font-weight: 300;
        font-size: 1.93rem;
    }
}

.buttons-block {
    display: flex;
    gap: 1vw;
}

.button {
    display: flex;
    padding: 15px;
    color: var(--color-text);
    border-radius: 9px;
    border: solid var(--color-accent);
    transition: 0.3s;
    font-size: 1.4rem;

    will-change: transform, shadowbox;

    &:hover {
        box-shadow: 0 0 30px rgba(16, 137, 62, 0.793);
    }

    &:active {
        transform: scale(0.96);
        transition-duration: 0.07s;
    }
}

.accent-button {
    background-color: var(--color-accent);
    box-shadow: 0 0 14px rgba(16, 137, 62, 0.793);
}

.photo-1-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    gap: 14px;

    p {
        text-align: center;
        font-size: 1.4rem;
    }
}

img {
    max-width: 100%;
    border-radius: 30px;
    border: solid var(--color-bg);
}

.descripton {
    h2 {
        text-align: center;
    }

    p {
        text-align: center;
        font-size: 1.4rem;
    }
}