:root {
    --color-bg: rgb(8, 9, 11);
    --color-bg-transparent: rgba(8, 9, 11, 0.793);
    --color-bg-transparent-1: rgba(8, 9, 11, 0.3);
    --color-accent: rgb(16, 137, 62);
    --color-secondary: rgb(55, 55, 55);
    --color-text: white;
    --color-text-secondary: rgb(163, 163, 163);
    /*header is fixed*/
    --header-height: 100px;
    --footer-height: 110px;
    --main-margin-top: 200px;
    --footer-border: 1px;
}

::selection {
    background-color: var(--color-accent);
    color: white;
}

* {
    -webkit-tap-highlight-color: transparent;
}

html {
    scrollbar-color: var(--color-text) var(--color-bg);
    font-size: 100%;
}

body {
    background-color: var(--color-bg);
    margin: 0;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
}

body.fixed {
    overflow: hidden;
}

/* header */

header {
    background-color: var(--color-bg-transparent);
    backdrop-filter: blur(15px);
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;

    font-weight: 600;
    font-size: 1.5rem;

    position: fixed;
    width: 100vw;
    z-index: 1;
    box-shadow: 0px 5px 10px 0px var(--color-bg);
}

.header-block-1 {
    color: var(--color-text-secondary);
    margin-left: 12vw;

    display: flex;
    gap: 4vw;
}

.header-block-2 {
    color: var(--color-text);
    margin-right: 6vw;
    display: flex;
}

a {
    text-decoration: none;
    user-select: none;
    color: inherit;
}

.header-link,
.burger-link,
.footer-link {
    transition: 0.3s;
    will-change: transform, shadowbox;

    &:hover {
        color: var(--color-text);
    }

    &:active {
        transform: scale(0.96) translateY(0);
        transition-duration: 0.07s;
    }
}

/* main */

main {
    background-color: var(--color-bg);
    margin-top: var(--main-margin-top);
    display: grid;
    grid-template-columns: 10vw 1fr;
    min-height: calc(100vh - var(--footer-height) - var(--main-margin-top) - var(--footer-border));
    transition: 0.3s;
    will-change: transform;
    transform-origin: right;
}

main.inactive {
    transform: scale(0.98);
}

.right-separator {
    background-color: var(--color-bg);
    color: var(--color-text);
    border-right: 1px solid var(--color-secondary);
}

.main-content-block {
    background-color: var(--color-bg);
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    gap: 14vh;
    margin-left: 6vw;
    margin-right: 10vw;
}

.buttons-block {
    display: flex;
    gap: 1vw;
}

.button {
    display: flex;
    justify-content: center;
    text-align: center;

    padding: 15px;
    color: var(--color-text);
    border-radius: 9px;
    border: solid var(--color-accent);
    transition: 0.3s;
    font-size: 1.4rem;

    will-change: transform, box-shadow;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;

    &:hover {
        box-shadow: 0 0 30px rgba(16, 137, 62, 0.793);
    }

    &:active {
        transform: scale(0.96);
        transition-duration: 0.07s;
    }
}

.accent-button {
    background-color: var(--color-accent);
    box-shadow: 0 0 14px rgba(16, 137, 62, 0.793);
}

/* footer */

footer {
    color: var(--color-text);
    height: var(--footer-height);
    border-top: var(--footer-border) solid var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    font-size: 1.4rem;
}

.footer-text {
    margin: 0px;
    display: flex;
    gap: 8px;

    p {
        margin: 0;
    }
}

.footer-link {
    user-select: all;
}

/* burger */

.burger-header-block {
    display: none;
    color: var(--color-text-secondary);
    margin-left: 12vw;
    font-size: 2rem;
}

#burger-menu-block {
    visibility: hidden;
    opacity: 0;

    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 1001;

    display: grid;
    grid-template-columns: 2fr 1fr;

    transition: 0.3s;
    will-change: visibility;
    will-change: opacity;

    transform: translateX(-100%);
}

#burger-menu-block.active {
    visibility: visible;
    opacity: 1;
    transform: translateX(0%);
}

.burger-menu-left-sidebar {
    background-color: var(--color-bg);
    box-shadow: 5px 5px 10px 0px var(--color-bg);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-weight: 600;
    font-size: 1.5rem;
    padding-left: 6vw;
}

.burger-block-1 {
    color: var(--color-text-secondary);
    gap: 4vw;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.burger-block-2 {
    color: var(--color-text);
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* overlay */

#display-overlay {
    visibility: hidden;
    opacity: 0;

    background-color: var(--color-bg-transparent-1);
    backdrop-filter: blur(2px);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1000;

    transition: 0.3s;
    will-change: visibility;
    will-change: opacity;
}

#display-overlay.active {
    visibility: visible;
    opacity: 1;
}