@media (max-width: 992px) {
    :root {
        --main-margin-top: 110px;
        --footer-height: 90px;
    }

    main {
        grid-template-columns: 0fr 1fr;
    }

    .main-content-block {
        gap: 2.4vh
    }

    .content {
        h1 {
            font-size: 2.3rem;
        }

        h2 {
            font-size: 1.7rem;
        }
    }

    .photo-1-section {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        p {
            font-size: 1.4rem;
        }
    }

    .left-photo-1-section {
        order: 2;
    }

    .right-photo-1-section {
        order: 1;
    }

    footer {
        font-size: 1.3rem;
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    :root {
        --main-margin-top: 100px;
        --footer-height: 70px;
    }

    header {
        font-size: 1.2rem;
    }

    .header-block-1 {
        margin-left: 9vw;
    }

    .button {
        font-size: 1.08rem;
        padding: 11px;
    }

    .content {
        h1 {
            font-size: 1.9rem;
        }

        h2 {
            font-size: 1.4rem;
        }
    }

    .photo-1-section {
        p {
            font-size: 1.1rem;
        }
    }

    footer {
        font-size: 1.05rem;
        gap: 2px;
    }

    .descripton {
        p {
            font-size: 1.2rem;
        }
    }
}

@media (max-width: 576px) {
    :root {
        --main-margin-top: 90px;
        --footer-height: 55px;
    }

    header {
        font-size: 1.05rem;
    }

    .header-block-1 {
        gap: 2vw;
    }

    .button {
        font-size: 0.9rem;
        padding: 9px;
    }

    .content {
        h1 {
            font-size: 1.45rem;
        }

        h2 {
            font-size: 1.15rem;
        }
    }

    .photo-1-section {
        p {
            font-size: 0.9rem;
        }
    }

    footer {
        font-size: 0.9rem;
    }

    .descripton {
        p {
            font-size: 1.05rem;
        }
    }
}

@media (max-width: 480px) {
    :root {
        --main-margin-top: 60px;
        --header-height: 60px;
    }

    header {
        font-size: 0.9rem;
    }

    .header-block-1 {
        gap: 1.9vw;
    }

    .buttons-block {
        flex-direction: column;
        text-align: center;
    }

    .button {
        font-size: 0.8rem;
        padding: 8px;
        display: inline;
    }

    .content {
        h1 {
            font-size: 1.1rem;
        }

        h2 {
            font-size: 0.94rem;
        }
    }

    .photo-1-section {
        p {
            font-size: 0.8rem;
        }
    }

    footer {
        font-size: 0.8rem;
    }

    .descripton {
        p {
            font-size: 0.9rem;
        }
    }
}

@media (max-width: 375px) {
    header {
        font-size: 0.8rem;
    }

    .content {
        h1 {
            font-size: 1rem;
        }

        h2 {
            font-size: 0.9rem;
        }
    }

    .photo-1-section {
        p {
            font-size: 0.75rem;
        }
    }

    footer {
        font-size: 0.75rem;
    }

    .descripton {
        p {
            font-size: 0.75rem;
        }
    }
}

@media (max-width: 320px) {
    header {
        font-size: 0.7rem;
    }

    .content {
        h1 {
            font-size: 0.9rem;
        }

        h2 {
            font-size: 0.85rem;
        }
    }

    .button {
        font-size: 0.75rem;
        padding: 5.5px;
    }

    .photo-1-section {
        p {
            font-size: 0.65rem;
        }
    }

    .descripton {
        p {
            font-size: 0.73rem;
        }
    }

    footer {
        font-size: 0.7rem;
    }
}