.content-container, #first-screen
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title-container
{
    display: flex;
    flex-direction: column;
}

#page-title
{
    margin-top: 77px;
    padding: 76px 16px 20px 16px;
}

#page-title h2
{
    font-size: var(--fs-mobile-medium);
    font-weight: 300;
}

#stone-and-foliage-harmony
{
    align-self: center;
}

.main-content-article
{
    display: flex;
    flex-direction: column;
}

.article-info-block
{
    padding: 10px 10px 20px 10px;
}

.article-info-block-project-details
{
    color: var(--color-accent-1);
}

.article-info-block-title
{
    font-size: var(--fs-mobile-large);
}

picture
{
    display: block;
    width: 375px;
    height: 375px;
}

@import url("./general.css");
@import url("./responsive/responsive-gallery.css");