.content-container,
#first-screen
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#title-container
{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-content-article
{
    display: flex;
    flex-direction: column;
}

.article-info-block
{
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 10px 10px 20px 10px;
}

.article-info-block-title
{
    font-size: var(--p2);
    letter-spacing: var(--p2-letter-spacing);
    line-height: var(--p2-line-height);
}

.article-info-block-project-details
{
    color: var(--color-accent-1);
    font-size: var(--caption);
    letter-spacing: var(--caption-letter-spacing);
    line-height: var(--caption-line-height);
}

picture
{
    display: block;
    width: 375px;
    height: 375px;
    overflow: hidden;
}

/* title-container */

#page-title-block
{
    margin-top: 77px;
    padding: 76px 16px 20px 16px;
}

#page-title-block h2
{
    font-size: var(--p1);
    letter-spacing: var(--p1-letter-spacing);
    line-height: var(--p1-line-height);
    font-weight: 300;
}

#stone-and-foliage-harmony
{
    align-self: center;
    width: 100%;
}

/* conifiers-and-hydrangea-container */

#conifiers-and-hydrangea-container .article-info-block-title
{
    font-size: var(--p1);
    letter-spacing: var(--p1-letter-spacing);
    line-height: var(--p1-line-height);
}

/* textures-and-plants-container */

#ornamental-plants .article-info-block-title
{
    font-size: var(--p1);
    letter-spacing: var(--p1-letter-spacing);
    line-height: var(--p1-line-height);
}

/* gardens-and-rose-container */

#elegant-rose-blooms .article-info-block-title
{
    font-size: var(--p1);
    letter-spacing: var(--p1-letter-spacing);
    line-height: var(--p1-line-height);
}

/* fountains-and-lawns-container */

#fountains-and-lawns-container .article-info-block-title
{
    font-size: var(--p1);
    letter-spacing: var(--p1-letter-spacing);
    line-height: var(--p1-line-height);
}

/* gardens-and-conifiers-container */

#conifiers-planting .article-info-block-title
{
    font-size: var(--p1);
    letter-spacing: var(--p1-letter-spacing);
    line-height: var(--p1-line-height);
}

@import url("./general.css");
@import url("./responsive/responsive-gallery.css");