@import url("./components/button-link.css");
@import url("./components/header.css");
@import url("./components/main.css");
@import url("./components/footer.css");
@import url("./components/burger.css");

:root
{
    --color-bg-1: white;
    --color-bg-2: #1D231C;
    --color-text-1: white;
    --color-text-2: black;
    --color-text-3: #273026;
    --color-accent-1: #4E6D0B;
    --color-accent-2: #D2FD9C;

    /* pc */

    --pc-paragraph-1: 1rem;
    --pc-paragraph-2: 1.5rem;

    --pc-header-1: 2rem;
    --pc-header-2: 1.5rem;

    /* tablet */

    --t-paragraph-1: 0.875rem;
    --t-paragraph-2: 1.125rem;

    --t-header-1: 2rem;
    --t-header-2: 1.125rem;

    /* mobile */

    --m-paragraph-1: 0.875rem;
    --m-paragraph-2: 1rem;

    --m-header-1: 1.5rem;
    --m-header-2: 1rem;

    /* general */

    --paragraph-3: 0.875rem;
    --header-3: 1rem;
    --caption: 0.75rem;

    --paragraph-1-letter-spacing: -2%;
    --paragraph-2-letter-spacing: -2%;
    --paragraph-3-letter-spacing: -1%;

    --header-1-letter-spacing: -2%;
    --header-2-letter-spacing: -2%;
    --header-3-letter-spacing: -3%;

    --caption-letter-spacing: -3%;

    --paragraph-1-line-height: 130%;
    --paragraph-2-line-height: 110%;
    --paragraph-3-line-height: 100%;

    --header-1-line-height: 109%;
    --header-2-line-height: 110%;
    --header-3-line-height: 100%;

    --caption-line-height: 110%;

    /* 87,5% * 16px (default browser font size) = 14px */
    --fs-mobile: 0.875rem;
    --fs-tablet: 0.875rem;
    --fs-pc: 1rem;

    --fs-mobile-small: 0.875rem;
    --fs-mobile-medium: 1.1428rem;
    --fs-mobile-large: 1.5rem;

    --fs-tablet-small: 1rem;
    --fs-tablet-medium: 1.2857rem;
    --fs-tablet-large: 1.1714rem;

    --fs-pc-small: 0.875rem;
    --fs-pc-medium: 1.1428rem;
    --fs-pc-large: 1.5rem;
}

@font-face
{
    font-family: "Geist";
    src: local("Geist"), url("../assets/fonts/Geist-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

::selection
{
    background-color: var(--color-accent-1);
    color: white;
}

*
{
    -webkit-tap-highlight-color: transparent;
    margin: 0px;

    line-height: 130%;
    letter-spacing: -2%;
}

html
{
    font-family: "Geist";
    font-size: var(--fs-mobile);
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    min-height: 100vh;

    gap: 112px;
}