@import url("./responsive/responsive-index.css");

.article-info-block
{
    background-color: var(--color-bg-2);
    color: var(--color-text-1);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}

.article-image
{
    background-repeat: no-repeat;
    background-size: cover;
}

.article-with-gallery-block
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.article-gallery-info-block
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    font-size: 1.1428rem;
}

#patio-outdoors
{
    margin-top: 144px;
}

#patio-outdoors .article-title-block
{
    padding: 33px 10px 16px 10px;
}

#patio-outdoors .article-title-block h2
{
    font-size: 1rem;
    font-weight: 300;
}

#patio-outdoors .article-image
{
    background-image: url("../assets/img/patio-outdoors/patio-outdoors-small.png");
    height: 800px;
}

#patio-outdoors .article-info-block
{
    width: 320px;
    height: 250px;
}

#gardens .article-image
{
    background-image: url("../assets/img/gardens/gardens-small.png");
    height: 375px;
}

#gardens .article-info-block
{
    width: 100%;
    height: 100px;
}

#water-and-stone
{
    display: flex;
    flex-direction: column;
    gap: 136px;
}

#water-and-stone-first-section .article-image
{
    background-image: url("../assets/img/water-and-stone/water-and-stone-small.png");
    height: 662px;
}

#water-and-stone-first-section .article-info-block
{
    width: 320px;
    height: 250px;
}

#water-and-stone-second-section .article-image
{
    background-image: url("../assets/img/water-and-stone/gardens.png");
    width: 325px;
    height: 331px;
    justify-self: flex-end;
}

#water-and-stone-second-section .article-info-block
{
    width: 325px;
    height: 125px;
}

#conifiers .article-image
{
    background-image: url("../assets/img/conifiers/conifiers-small.png");
    height: 375px;
}

#conifiers .article-info-block
{
    height: 100px;
}

#stone-and-foliage-harmony .article-image
{
    background-image: url("../assets/img/stone-and-foliage-harmony/stone-and-foliage-harmony-small.png");
    height: 375px;
}

#stone-and-foliage-harmony .article-info-block
{
    height: 100px;
}