
.article-info-block
{
    background-color: var(--color-bg-2);
    color: var(--color-text-1);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}

.article-image
{
    background-repeat: no-repeat;
    background-size: cover;
}

#patio-outdoors
{
    margin-top: 144px;
}

#patio-outdoors .article-title-block
{
    padding: 33px 10px 16px 10px;
}

#patio-outdoors .article-title-block h2
{
    font-size: 1rem;
    font-weight: 300;
}

#patio-outdoors .article-image
{
    background-image: url("../assets/img/patio-outdoors/patio-outdoors-small.png");
    height: 800px;
}

#patio-outdoors .article-info-block
{
    width: 320px;
    height: 250px;
}

#gardens .main-content-article-block
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#gardens .article-image
{
    background-image: url("../assets/img/gardens/gardens-small.png");
    height: 375px;
}

#gardens .article-info-block
{
    width: 100%;
    height: 100px;
}

#gardens .article-gallery-info-block
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}