header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    box-shadow: 0px -10px 5px 2px black;
}

header nav, .header-button-block {
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 2vw;
    flex-wrap: wrap;
}

.js-enabled {
    .header-link, .header-button-block {
        display: none;
    }

    #burger-button {
        display: flex;
    }
}

#burger-button {
    padding: 6px 8px;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 20px;

    background-color: var(--color-accent-transparent);
    backdrop-filter: blur(4px);
    border-radius: 10%;
    outline: 2px solid var(--color-secondary);
    box-shadow: 0 0 5px var(--color-additional);
    color: var(--color-bg);
    cursor: pointer;

    transition: 0.25s;
    user-select: none;

    will-change: background-color, box-shadow;

    &:hover, &:focus {
        box-shadow: 0 0 10px var(--color-accent-dark);
    }

    &:active, &:focus {
        background-color: var(--color-accent-dark);
    }
}