#burger-menu {
    visibility: hidden;
    opacity: 0;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    background-color: var(--color-additional);

    display: flex;
    flex-direction: column;
    align-items: center;

    transition: 0.3s;

    transform: translateY(-100%);
}

#burger-menu.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0%);
}

.burger-menu-header {
    color: var(--color-accent);
    margin-top: 5vh;
    font-size: 1.3rem;
}

.burger-menu-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

#burger-close-button {
    margin-bottom: 5vh;
    font-size: 1.1rem;

    &:hover, &:focus {
        text-shadow: 10px 5px 1px var(--color-accent-dark);
    }

    &:active, &:focus {
        text-shadow: 10px 5px 1px var(--color-secondary);
    }
}