.button
{
    color: var(--color-text-1);
    background-color: var(--color-text-3);
    text-decoration: none;
    user-select: none;
    display: inline-block;
    padding: 10px;

    letter-spacing: -1%;
    font-size: 1rem;
    transition: 0.3s;

    will-change: box-shadow, transform;

    &:hover
    {
        box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.5);
    }

    &:active
    {
        transform: scale(0.95);
        transition-duration: 0.07s;
    }
}

.link
{
    cursor: pointer;
    transition: 0.3s;
    will-change: text-shadow, transform;
    user-select: none;
    text-decoration: none;

    &:hover
    {
        text-shadow: 40px 0px 2px rgba(0, 0, 0, 0.5);
    }

    &:active
    {
        transform: scale(0.95);
        transition-duration: 0.07s;
    }
}