
.button
{
    color: var(--color-text-1);
    background-color: var(--color-text-3);
    text-decoration: none;
    user-select: none;
    display: inline-block;
    padding: 10px;

    letter-spacing: -1%;
    font-size: 1rem;
}