footer
{
    background-color: var(--color-bg-2);
    color: var(--color-text-1);
    padding: 20px 20px 0px 20px;

    display: flex;
    flex-direction: column;
    gap: 150px;
}

footer h2
{
    font-weight: 300;
    font-size: 1.6rem;
    text-align: center;
}

.footer-head
{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 150px;
}

.footer-head-items
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;

    font-size: var(--p1);
    letter-spacing: var(--p1-letter-spacing);
    line-height: var(--p1-line-height);
}

.footer-head-links
{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

footer .link
{
    color: var(--color-text-1);

    &:hover
    {
        text-shadow: 40px 0px 2px rgba(255, 255, 255, 0.5);
    }
}

.footer-head-contact-info
{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-head-direct-contact-block
{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.footer-bottom
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 0px;

    font-size: var(--p1);
    letter-spacing: var(--p1-letter-spacing);
    line-height: var(--p1-line-height);
}

.footer-bottom-socials
{
    display: flex;
    gap: 11.98px;
}