footer
{
    background-color: var(--color-bg-2);
    color: var(--color-text-1);
    padding: 20px 20px 0px 20px;

    display: flex;
    flex-direction: column;
    gap: 150px;
}

footer h2
{
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
}

.footer-head
{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 150px;
    font-weight: 200;
}

.footer-head-items
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

.footer-head-links
{
    display: flex;
    flex-direction: column;
}

.footer-head-contact-info
{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-bottom
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 0px;
}

.footer-bottom-socials{
    display: flex;
    gap: 11.98px;
}