header
{
    position: fixed;
    width: 100%;
    z-index: 100;
    box-sizing: border-box;
    background-color: var(--color-bg-1);

    display: flex;
    justify-content: space-between;

    padding: 16px;
}

h1
{
    font-weight: 300;
    font-size: 2rem;
}

.burger-button
{
    /* background-image: url("../assets/img/hamburger-menu/horizontal.png"), url("../assets/img/hamburger-menu/vertical.png"), url("../assets/img/hamburger-menu/ellipse.png"); */

    background-image: url("../assets/img/hamburger-menu/normal.png");

    background-position-x: center, center, center;
    background-position-y: center, center, center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: initial;

    height: 40px;
    width: 40px;
    padding: 0;

    background-color: transparent;
    border: none;
}