@media (max-width: 992px) {
    .photo-1-section {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .left-photo-1-section {
        order: 2;
    }

    .right-photo-1-section {
        order: 1;
    }
}

@media (max-width: 480px) {
    .buttons-block {
        flex-direction: column;
        text-align: center;
    }

    .button {
        padding: 8px;
        display: inline;
    }
}