@media (min-width: 800px)
{
    header nav
    {
        display: flex;
        justify-content: stretch;
        align-items: stretch;
    }

    .header-links
    {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
        line-height: 110%;
        gap: 8px;
    }

    .burger-button
    {
        display: none;
    }

    body main
    {
        gap: 100px;
    }

    footer
    {
        gap: 241px;
    }

    footer .footer-head-items
    {
        flex-direction: row;
        justify-content: space-between;
    }

    footer .footer-bottom
    {
        flex-direction: row;
        justify-content: space-between;
    }
}