@media (min-width: 800px)
{
    header
    {
        height: 140px;
    }

    header nav
    {
        display: flex;
        justify-content: stretch;
        align-items: stretch;
    }

    .header-links
    {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
        line-height: 110%;
        gap: 8px;
    }

    .burger-button
    {
        display: none;
    }

    body main
    {
        gap: 100px;
    }

    footer
    {
        gap: 241px;
        padding: 40px 40px 0px 40px;
    }

    footer .footer-head-items
    {
        flex-direction: row;
        justify-content: space-between;
    }

    footer .footer-bottom
    {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 1280px)
{
    html
    {
        font-size: var(--fs-pc);
    }

    header
    {
        height: 158px;
    }

    .header-links
    {
        font-size: var(--fs-pc-large);
    }

    body main
    {
        gap: 0;
    }

    footer .footer-head
    {
        flex-direction: row;
        justify-content: space-between;
    }

    footer .footer-head-items
    {
        gap: 332px;
    }
}

@media (min-width: 1600px)
{
    html
    {
        font-size: var(--fs-pc-large);
    }

    main #patio-outdoors
    {
        margin-top: 344px;
    }

    header
    {
        height: auto;
    }

    main
    {
        padding: 0 clamp(100px, 7vw, 700px);
    }
}