figure
{
    all: unset;
}

.main-content-block
{
    gap: clamp(10px, calc(5px + 4vw - 4vh), 150px);
}

.content
{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    padding-top: 1vh;
}

.download-block
{
    display: flex;
    align-items: center;
    gap: 1vw;

    padding: 25px;
    background-color: rgba(75, 115, 90, 0.134);
    backdrop-filter: blur(15px);
    border-radius: 14px;
}