button
{
    all: unset;
}

a,
button
{
    text-decoration: none;
    user-select: none;
    color: inherit;
}

.header-link,
.burger-link,
.footer-link
{
    transition: 0.3s;
    will-change: transform, shadowbox;

    &:hover,
    &:focus
    {
        color: var(--color-text);
    }

    &:active
    {
        transform: scale(0.96) translateY(0);
        transition-duration: 0.07s;
    }
}

.button
{
    display: flex;
    justify-content: center;
    text-align: center;

    padding: 15px;
    color: var(--color-text);
    border-radius: 9px;
    border: solid var(--color-accent);
    transition: 0.3s;

    will-change: transform, box-shadow;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;

    &:hover,
    &:focus
    {
        box-shadow: 0 0 30px rgba(16, 137, 62, 0.793);
    }

    &:active
    {
        transform: scale(0.96);
        transition-duration: 0.07s;
    }
}

.accent-button
{
    background-color: var(--color-accent);
    box-shadow: 0 0 14px rgba(16, 137, 62, 0.793);
}