main
{
    background-color: var(--color-bg);
    margin-top: clamp(8vh, calc(9.5vh + 8.5vw), 25vh);
    display: grid;
    grid-template-columns: clamp(8vw, 10vw, 500px) 1fr;
    transition: 0.3s;
    will-change: transform;
    transform-origin: right;
    flex: 1 0 auto;
}

main.inactive
{
    transform: scale(0.98);
}

.right-separator
{
    background-color: var(--color-bg);
    color: var(--color-text);
    border-right: 1px solid var(--color-secondary);
}

.main-content-block
{
    background-color: var(--color-bg);
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    gap: clamp(10px, calc(5px + 8vw - 4vh), 200px);
    margin-left: 6vw;
    margin-right: 10vw;
}