.burger-header-block {
    display: none;
    color: var(--color-text-secondary);
    margin-left: 12vw;
    font-size: 2rem;
}

#burger-menu-block {
    visibility: hidden;
    opacity: 0;

    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 1001;

    display: grid;
    grid-template-columns: 2fr 1fr;

    transition: 0.3s;
    will-change: visibility;
    will-change: opacity;

    transform: translateX(-100%);
}

#burger-menu-block.active {
    visibility: visible;
    opacity: 1;
    transform: translateX(0%);
}

.burger-menu-left-sidebar {
    background-color: var(--color-bg);
    box-shadow: 5px 5px 10px 0px var(--color-bg);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-weight: 600;
    font-size: 1.5rem;

    padding: clamp(30px, 8vh, 100px) 0px;
    padding-left: 6vw;
}

.burger-block-1 {
    color: var(--color-text-secondary);
    gap: 4vw;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.burger-block-2 {
    color: var(--color-text);
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#display-overlay {
    visibility: hidden;
    opacity: 0;

    background-color: var(--color-bg-transparent-1);
    backdrop-filter: blur(2px);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1000;

    transition: 0.3s;
    will-change: visibility;
    will-change: opacity;
}

#display-overlay.active {
    visibility: visible;
    opacity: 1;
}