:root {
    --color-bg: white;
    --color-accent: rgb(64, 188, 208);
    --color-accent-secondary: rgb(242, 181, 56);
    --color-text: rgb(68, 64, 60);
}

* {
    margin: 0px;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: var(color-bg);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: clamp(100px, 12vh, 500px);
    outline: 2px solid black;

    font-size: 1.3rem;
    color: var(--color-text);
}

.header-title-block {}

.header-button-block {}