
#content-first-screen {
    background-image: url("../../assets/img/main-background.jpg");
    background-size: cover;
    background-position: center;
    height: clamp(192px, 40vh, 500px);

    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#content-first-screen div {
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.45);

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.main-title {
    color: var(--color-bg);
    margin-bottom: 5vh;
    margin-right: 10vw;
    text-shadow: 0 0 3px black;
    font-size: 1.3rem;
}

.content-section {
    display: grid;
    grid-template-rows: 0.5fr auto;
    padding-right: clamp(6vw, calc(10vw + 1%), calc(10vw + 10%));
    padding-left: clamp(6vw, calc(10vw + 1%), calc(10vw + 10%));
    text-align: center;
    
}

.content-subtitle {
    display: none;
}

.content-subsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.info-block-main {
    display: flex;
    justify-content: center;
}

.info-block-container {
    background-color: var(--color-secondary);
    color: var(--color-bg);
    border-radius: 2px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 2vh;
    text-align: center;
}

.info-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info-work-schedule {
    display: flex;
    gap: 2vw;
}