@media (min-width: 1440px) {
    html.fixed {
        overflow-y: hidden;
        /* padding-right: calc(100vw - 99%); */
    }
}

@media (min-width: 1024px){
    .content-section {
        display: grid;
        grid-template-columns: minmax(80px, 200px) minmax(100px, 300px) 4fr;
        grid-template-rows: 1fr;
        text-align: unset;
        gap: 0;
    }

    .content-subtitle {
        display: flex;
        justify-content: center;
    }

    .content-title {
        display: flex;
        justify-content: center;
        margin-top: 20%;
        font-size: 1.5rem;
    }
}

@media (min-width: 768px) {
    .js-enabled {
        .header-link,
        .header-button-block {
            display: inline;
        }

        #burger-button {
            display: none;
        }
    }
}