
#content-first-screen {
    background-image: url("../../assets/img/main-background.jpg");
    background-size: cover;
    background-position: center;
    height: clamp(192px, 40vh, 500px);

    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#content-first-screen div {
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.45);

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.main-title {
    color: var(--color-bg);
    margin-bottom: 5vh;
    margin-right: 10vw;
    text-shadow: 0 0 3px black;
    font-size: 1.3rem;
}