figure {
    all: unset;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    padding-top: 1vh;
}

.download-block {
    display: flex;
    align-items: center;
    gap: 1vw;

    padding: 25px;
    background-color: rgba(75, 115, 90, 0.134);
    backdrop-filter: blur(15px);
    border-radius: 14px;
}