:root {
    --color-bg: white;
    --color-additional: #333333;
    --color-secondary: #5b5b5b;
    --color-accent: #B59571;
    --color-accent-transparent: #b59571a6;
    --color-accent-dark: #987e5f;
    --color-invalid: #d11212;

    --fs-min: 16px;
    --fs-max: 32px;
}

@font-face {
    font-family: 'Circe';
    src: url('../assets/fonts/Circe-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

::selection {
    background-color: var(--color-accent);
    color: var(--color-bg);
}

* {
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}

html {
    scroll-behavior: smooth;
    font-size: clamp(var(--fs-min), calc(var(--fs-min) + 0.4vw), var(--fs-max));

    scrollbar-color: var(--color-bg) rgba(0, 0, 0, 0.6);
}

html.fixed {
    overflow-y: hidden;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Circe";
    color: var(--color-additional);
    font-weight: 400;
    line-height: 142%;
}

#overlay {
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;

    transition: 0.3s;
    will-change: visibility, opacity;
}

#overlay.active {
    visibility: visible;
    opacity: 1;
}